.transaction-section--title {
    font-weight: 700;
    font-size: var(--font-size-16px);
    line-height: 188%;

    color: var(--grey-4);
}

.transaction-section--subtitle {
    font-weight: 700;
    font-size: var(--font-size-22px);
    line-height: 188%;

    color: var(--grey-4);
}