.main-landingPage__container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    gap: 2rem;
}

.menu__section,
.img__section {
    width: 100%;
}

.menu__container {
    display: flex;
    flex-direction: column;
}

.menu__container>h2 {
    margin: 3rem 0 0;
    font-size: var(--font-size-22px);
    color: var(--color-primary-1);
}

.menu__container>h2>span {
    color: var(--grey-1)
}

.menu__container>h1 {
    font-weight: 800;
    font-size: var(--font-size-38px);
    line-height: 126%;

    color: #ffffff;
}

.menu__container>p {
    font-weight: 400;
    font-size: var(--font-size-16px);
    line-height: 162%;
    color: #ffffff;
}

.menu__container>button {
    padding: 13px 20px;


    font-weight: 500;
    font-size: var(--font-size-16px);
    line-height: 19px;
    color: #ffffff;

    background: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);
    border-radius: 8px;
}

.menu__container>button:hover {
    background: var(--color-primary-2);
    border: 2px solid var(--color-primary-2);
}

.img__container {
    width: 100%;
    max-width: 593px;
}

.img__container>img {
    width: 100%;
}

@media(min-width: 750px) {
    .main-landingPage__container {
        flex-direction: row;
        align-items: center;

        margin: 10% 100px;
    }

    .menu__container>button {
        max-width: 240px;
    }
}